minecraft/saves/
minecraft/.github/
minecraft/.pg-native/
minecraft/.probe/
minecraft/.vscode/
minecraft/coremods/
minecraft/crash-reports/
minecraft/data/
minecraft/downloads
minecraft/fancymenu_data
minecraft/logs
minecraft/local
minecraft/patchouli*
minecraft/screenshots
minecraft/schematics
minecraft/server-resource-packs
minecraft/texturepacks
minecraft/tlm_custom_pack
minecraft/xaero
minecraft/.qmenu_opened.marker
minecraft/command_history.txt
minecraft/options.txt
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/win_event**.txt
instance.cfg


minecraft/config/jei/local
**fingerprint**

minecraft/mods